.form-input {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  width: 100%;

  .label {
    font-weight: bold;
    margin-top: 10px;
    margin-bottom: 10px;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    padding-right: 10px;
    width: 20%;
    min-width: 150px;
  }
  .input {
    flex-grow: 1;
    width: 80%;
    margin-top: 10px;
    margin-bottom: 10px;
    min-width: 200px;
  }

  input[type="text"],
  input[type="number"],
  .textarea-wrapper {
    padding: 10px;
    border: 1px solid grey;
    border-radius: 10px;
    outline: none;
    background-color: white;
    display: flex;
    flex-grow: 1;
    width: 100%;
  }

  textarea {
    outline: none;
    border: 1px solid transparent;
    width: 100%;
    background-color: transparent;
  }
}

.actions {
  display: flex;
  .spacer {
    display: flex;
    flex-grow: 1;
    content: "";
  }

  button:hover {
    background-image: linear-gradient(45deg, #13b58d, #1752b1);
  }
  button {
    border: 0px;
    padding: 10px 20px;
    margin-left: 10px;
    border-radius: 4px;
    display: flex;
    transition: all 150ms linear;
    background-image: linear-gradient(45deg, #1784b1, #1752b1);
    color: white;
    cursor: pointer;
  }
}

/* ======================== REPEATED CODE ========================*/

$breakpoint-cell: 400px;
:root {
  --product-image: url(https://upload.wikimedia.org/wikipedia/commons/thumb/a/ac/No_image_available.svg/1200px-No_image_available.svg.png);
}

.product-details-page {
  .card-outter {
    padding: 20px;
  }
  .card-inner {
    display: flex;
    width: 100%;
    padding: 20px;
    border: 1px solid #d0d0d0;
    border-radius: 5px;
    background-color: #ffffffcc;
    box-shadow: -5px 5px 5px #00000017;

    .img {
      background-image: var(--product-image);
      background-repeat: no-repeat;
      background-size: contain;
      content: "";
      width: 100%;
      height: 100%;
    }
    /* make iamge square*/
    .img:after {
      content: "";
      display: block;
      padding-bottom: 100%;
    }
    .product-display {
      display: inline-flex;
      min-width: 200px;
      max-width: 400px;
      width: 50%;
    }
    .product-descript {
      padding-left: 20px;
      width: 50%;
      .info-block {
        border-bottom: 1px solid grey;
        margin-bottom: 20px;
      }
      .label {
        font-weight: bold;
      }
      .price {
        font-size: 20px;
        font-weight: bold;
      }
    }
  }
}

@media screen and (max-width: 800px) {
  .product-details-page {
    .card-inner {
      .product-display {
        width: 100%;
      }
      .product-descript {
        width: 100%;
      }
    }
  }
}

@media screen and (max-width: 600px) {
  .product-details-page {
    .card-inner {
      .product-display {
        width: 100%;
      }
      .product-descript {
        width: 100%;
      }
    }
  }
}
