.loading-square {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100%;
  width: 100%;

  .wrapper {
    height: 100%;
    width: 100%;
    align-content: center;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
  }
  .description {
    font-family: monospace;
    font-size: 20px;
  }
  .description {
    color: white;
  }
  .square {
    width: 80px;
    height: 80px;
    background-color: #fdfdfd;
    margin: 100px auto;
    animation: sk-rotateplane 1.2s infinite ease-in-out;
  }
  @keyframes sk-rotateplane {
    0% {
      transform: perspective(120px) rotateX(0deg) rotateY(0deg);
    }
    50% {
      transform: perspective(120px) rotateX(-180.1deg) rotateY(0deg);
    }
    100% {
      transform: perspective(120px) rotateX(-180deg) rotateY(-179.9deg);
    }
  }
}
